/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 05/09/2019, 10:26:59
    Author     : Grupo
*/

body
{
    margin:0px;
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Hepta Slab', serif;
    background-color: #fcf9ea;
    overflow: auto;
}

#Header h1
{
    font-size: 0;
}

#Users
{
    background-color: #6c7b95;
}
.Lud td
{
   font-size: 0px;
}

ul#menu {
    padding: 0px;
    min-width: 80%;
    list-style: none;
}

ul#menu li {
    display: inline;
}

#menu
{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0px;;
}

.fotos a
{
    padding-left: 25px;
}

#Article
{
    background-color: #badfdb;
    width: 100%;
    height: 65%;
    margin: 0px;
}

#Article iframe
{
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:100%;
    margin: auto 0 auto 0;
    border:0;
}

#Nav
{
    position: relative;
    background-color: #6c8495;
    width: 100%;
    height: 5%;
    margin: 0px;
    overflow: auto;
}

#Footer h2
{
    padding:2.5%;
    text-align:center;
    color: black; 
}

#Footer
{
    background-color: #fcf9ea;
    background-image: url("aquarela.png");
    height: 40%;
    width: 100%;
}

ul.listamenu {
    display: table;
    margin-left: auto;
    margin-right: 0em;  
}
#menu li
    /* horizontal menu layout */
{
    display: inline-block;
    border-radius: 10px;
    margin:10px;
    background-color: #49beb7;
}
#menu li a:hover
    /* link style on-mouse-over */
{
    color:#FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
}
#menu li:hover
    /* button style on-mouse-over */
{
    border-radius: 10px;
    background-color: #cba1d2;
}
#menu li a
    /* link style */
{
    color:#FFFFFF;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 0.7em 1em 0.7em 1em;
}
#menu li.active a
    /* active menu item style */
{
    color:#FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
}
#menu li.active
    /* active menu button style */
{
    border: solid #FFFFFF;
    border-radius: 10px;
    background-color: #cba1d2;
}